/*fonts from google*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #608cc9;
}

#navbar li {
    float: left;
    height: 100px;
}

#navbar li a {
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 700;

    color: white;

    height: 100%;
    width: 100px;
    
    display: block;
    padding: 14px 16px;
}

#navbar li img {
    height: 100%;
    margin: 0 20px 0 0;
}

#navbar li a:hover {
    background-color: rgb(125, 166, 228);
}