#navbar {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    background-color: #2d2a3c;
}

#logo img {
    width: 100%;
}

#navlinks {
    display: flex;
    justify-content: space-evenly;
}

#navlinks a {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

#acc img {
    width: 100%;
}