#navbar {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    background-color: #2d2a3c;
}

<<<<<<< HEAD
#logo img {
    width: 100%;
=======
#navbar li {
    float: left;
    height: 100px;
>>>>>>> baa4934991428c24e2c463563c983d9dd93bb3ec
}

#navlinks {
    display: flex;
    justify-content: space-evenly;
}

#navlinks a {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

#acc img {
    width: 100%;
}